In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression

In [2]:
import yfinance as yf

# Menggunakan ETF SPDR Gold Trust (GLD) sebagai proxy harga emas
df = yf.download('GLD', start='2001-01-01', end='2023-06-27', progress=False)
print(df.head())

Price           Close       High        Low       Open    Volume
Ticker            GLD        GLD        GLD        GLD       GLD
Date
2004-11-18  44.380001  44.490002  44.070000  44.430000   5992000
2004-11-19  44.779999  44.919998  44.470001  44.490002  11655300
2004-11-22  44.950001  44.970001  44.740002  44.750000  11996000
2004-11-23  44.750000  44.919998  44.720001  44.880001   3169200
2004-11-24  45.049999  45.049999  44.790001  44.930000   6105100

In [ ]:
data = pd.DataFrame(df)

Price            Close        High         Low        Open    Volume
Ticker             GLD         GLD         GLD         GLD       GLD
Date
2004-11-18   44.380001   44.490002   44.070000   44.430000   5992000
2004-11-19   44.779999   44.919998   44.470001   44.490002  11655300
2004-11-22   44.950001   44.970001   44.740002   44.750000  11996000
2004-11-23   44.750000   44.919998   44.720001   44.880001   3169200
2004-11-24   45.049999   45.049999   44.790001   44.930000   6105100
...                ...         ...         ...         ...       ...
2023-06-20  179.750000  180.089996  179.220001  180.059998   7584200
2023-06-21  179.490005  179.949997  178.190002  179.149994   6702300
2023-06-22  177.710007  178.990005  177.630005  178.360001   7945000
2023-06-23  178.199997  179.949997  178.089996  179.600006   5419800
2023-06-26  178.509995  179.080002  178.419998  179.050003   3222100

[4681 rows x 5 columns]